apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

patchesStrategicMerge:
  - patch.yaml

images:
  - name: getting-started
    newName: acr84.azurecr.io/docker-getting-started
    newTag: latest
