apiVersion: apps/v1
kind: Deployment
metadata:
  name: getting-started
spec:
  replicas: 5
  template:
    spec:
      containers:
        - name: getting-started
          image: yourdockerhubuser/getting-started:prod
          env:
            - name: ENV
              value: "production"
